<p>Hi <%= @lead.name %>,</p>

<p>Thanks for reaching out to Heftydev. I received your message and will review it shortly.</p>

<p><strong>Here's what happens next:</strong></p>

<ul>
  <li>I'll review your project details within one business day</li>
  <li>I'll reply with initial thoughts on approach and fit</li>
  <li>If it looks like a good match, we'll schedule a short call to discuss scope and timeline</li>
</ul>

<p>If you have anything to add in the meantime, just reply to this email.</p>

<p>
  Best,<br>
  Trevor Nelson<br>
  Heftydev, LLC
</p>
